flows.json
[{"id":"9766872a.127c38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9544d1a.9e1533","type":"inject","z":"9766872a.127c38","name":"","topic":"","payload":"{\"key\":\"location\",\"payload\":{\"busID\":3,\"lat\":33.52038,\"lng\":-86.809416}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":160,"wires":[["b544cecc.349a"]]},{"id":"b7333276.12426","type":"websocket in","z":"9766872a.127c38","name":"WS Dummy Listener","server":"","client":"1c4488c6.32dfd7","x":170,"y":780,"wires":[["cf58bcb6.b3a24"]]},{"id":"b544cecc.349a","type":"websocket out","z":"9766872a.127c38","name":"Send to Front-End","server":"89cdd258.068a3","client":"","x":590,"y":220,"wires":[]},{"id":"954a42e7.e494","type":"http in","z":"9766872a.127c38","name":"Bus Events","url":"/bus-events","method":"post","upload":false,"swaggerDoc":"","x":190,"y":100,"wires":[["b544cecc.349a","b75044b8.ac25d8","62090c9.7e312f4"]]},{"id":"b75044b8.ac25d8","type":"http response","z":"9766872a.127c38","name":"","statusCode":"","headers":{},"x":400,"y":80,"wires":[]},{"id":"5b69ad05.d7ec94","type":"inject","z":"9766872a.127c38","name":"Send Notification","topic":"","payload":"{\"key\":\"notification\",\"payload\":{\"target\":\"2056396666\",\"text\":\"Hey there!\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":220,"wires":[["b544cecc.349a"]]},{"id":"64c1e26c.7d94bc","type":"switch","z":"9766872a.127c38","name":"Notification Events Only","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"notification","vt":"str"},{"t":"eq","v":"check-in","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":780,"wires":[["23ad7889.5fb048"],["18cde9c0.17af86"]]},{"id":"cf58bcb6.b3a24","type":"json","z":"9766872a.127c38","name":"","property":"payload","action":"","pretty":false,"x":370,"y":780,"wires":[["64c1e26c.7d94bc"]]},{"id":"b0192b80.a173f8","type":"http request","z":"9766872a.127c38","name":"Trigger Twilio Cloud Function","method":"POST","ret":"txt","paytoqs":false,"url":"https://us-central1-personal-178603.cloudfunctions.net/send-text-message","tls":"","proxy":"","authType":"","x":1040,"y":780,"wires":[["2c41a4ce.2cff7c"]]},{"id":"23ad7889.5fb048","type":"function","z":"9766872a.127c38","name":"","func":"msg.payload = msg.payload.payload\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":780,"wires":[["b0192b80.a173f8"]]},{"id":"2c41a4ce.2cff7c","type":"debug","z":"9766872a.127c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":780,"wires":[]},{"id":"ceb00599.176a28","type":"debug","z":"9766872a.127c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":600,"wires":[]},{"id":"15cebe26.e65da2","type":"websocket in","z":"9766872a.127c38","name":"Bus App","server":"5cc8d912.73eac8","client":"","x":180,"y":600,"wires":[["ceb00599.176a28","238da9ec.3213a6"]]},{"id":"4d0f64eb.be0fbc","type":"websocket in","z":"9766872a.127c38","name":"Bus Simulator","server":"d880cfda.5448","client":"","x":170,"y":360,"wires":[["238da9ec.3213a6"]]},{"id":"238da9ec.3213a6","type":"function","z":"9766872a.127c38","name":"Destroy Session (Broadcast)","func":"delete msg._session\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":420,"wires":[["b544cecc.349a"]]},{"id":"18cde9c0.17af86","type":"function","z":"9766872a.127c38","name":"Prepare Check-In Text","func":"\nmsg.payload = {\n    target: '2056396666',\n    text: 'Hey there! You just checked in.'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":860,"wires":[["b0192b80.a173f8"]]},{"id":"62090c9.7e312f4","type":"debug","z":"9766872a.127c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":160,"wires":[]},{"id":"1c4488c6.32dfd7","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/front-end","tls":"","wholemsg":"false"},{"id":"89cdd258.068a3","type":"websocket-listener","z":"","path":"/ws/front-end","wholemsg":"false"},{"id":"5cc8d912.73eac8","type":"websocket-listener","z":"","path":"/ws/bus-app","wholemsg":"false"},{"id":"d880cfda.5448","type":"websocket-listener","z":"","path":"/ws/bus-simulator","wholemsg":"false"}]